<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="libs/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="libs/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="libs/jquery.min.js"></script>
    <title>Lập trình mạng</title>
</head>
<body>
    <div class="home-div center-align white-text"> 
        <span>Ứng dụng Chat Text  - Call video Online</span>
        <div class="login">
            <form id="login-form">
                <div class="input-field">
                    <input id="username" type="text" required class="validate">
                    <label for="username">Username</label>
                </div>
                <button class="waves-effect transparent waves-light btn" type="submit" name="action">Đăng nhập</button>
            </form>
        </div>
    </div>
    <script src="libs/materialize/js/materialize.min.js"></script>
    <script src="libs/socket.io.slim.js"></script>
    <script src="js/script.js"></script>
</body>
</html>